@inherits LayoutComponentBase

<PageTitle>Website</PageTitle>

<div class="page">
    <main>
        <article>
            @Body
            @* Required *@
            <MudThemeProvider />
            <MudPopoverProvider />

            @* Needed for dialogs *@
            <MudDialogProvider />

            @* Needed for snackbars *@
            <MudSnackbarProvider />
        </article>
    </main>
</div>
